{% extends 'base.html' %}
{% load static %}
{% include 'includes/alerts.html' %}

{% block body %}

<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            
                        </aside>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="listing-sorting-holder">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>{{vendor_count}} Restaurant's found</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="listing simple">
                                <ul>
                                    
                                    {% for vendor in vendors  %}
                                        
                                    
                                        
                                    <li>
                                        <div class="img-holder">
                                                {% if vendor %}
												<figure><a href="#"><img src="{{vendor.user_profile.profile_picture.url}}" class="img-thumb wp-post-image" alt=""></a></figure>
												{% else %}
												<figure><a href="#"><img src="{% static 'extra-images/listing-logo18.png' %}" class="img-thumb wp-post-image" alt=""></a></figure>
												{% endif %}
                                            <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Close</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="list-rating">
                                                <div class="rating-star">
                                                    <span class="rating-box" style="width: 100%;"></span>
                                                </div>
                                                <span class="reviews">(1)</span>
                                            </div>
                                            <div class="post-title">
                                                <h5>
                                                    <a href="listing-detail.html">{{vendor}}</a>
                                                </h5>
                                            </div>
                                            {% if vendor.user_profile.address %}
                                            <span><small class="text-muted">{{ vendor.user_profile.address }}</small></span>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="list-option">

                                            <a href="{% url 'marketplace_detail' vendor.vendor_slug %}" class="viewmenu-btn text-color">View Menu</a>
                                        </div>
                                    </li>
                                    {% endfor %}


                                    <li>
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/fb-restaurant-04.jpg" class="img-list wp-post-image" alt=""> </a>
                                            </figure>
                                            <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Close</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="listing-detail.html">Golden Chick Fries</a>
                                                    <span class="sponsored text-color">Sponsored</span>
                                                </h5>
                                            </div>
                                            <span class="post-categories"><span>Type of food :
                                                </span>
                                                Doughnut, Hot Dogs, Ice Cream</span>
                                            
                                        </div>
                                        
                                    </li>

                                    <li>
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="assets/extra-images/fb-restaurant-06.jpg" class="img-list wp-post-image" alt=""> </a>
                                            </figure>
                                            <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="post-title">
                                                <h5>
                                                    <a href="listing-detail.html">Dragon Express</a>
                                                </h5>
                                            </div>
                                            <span class="post-categories"><span>Type of food :
                                                </span> Apple
                                                Juice, Carrot Juice, Ice Cream</span>
                                            
                                        </div>
                                        
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="message-box" style="background-color: #fa9918;">
                                <strong>I'm not Listed!</strong><span>is your restaurant or
                                    business not
                                    listed on over site</span>
                                <a href="{% url 'registerVendor' %}" class="request-btn">Add Your business!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
