<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="active"><a href="restaurant-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li><a href="restaurant-orders.html"><i class="icon-add_shopping_cart"></i>Orders</a></li>
            <li><a href="restaurant-earnings.html"><i class="icon-money"></i>Profile Settings</a></li>
            <li><a class="logout-btn" href="registration.html"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>